/* TAG STYLING */

body {
    padding: 0;
    margin: 0;

}

h1 {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 2.5em;
    color: #444444;
    text-align: center;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    color: #444444;
    text-align: left;
}

body {
    background-color: #FFFCE5;
}

a {
    text-decoration: none;
}


/* CLASS STYLING */

.flex-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.flex-item {
    display: flex;
    justify-content: center;
    align-content: center;
}



/* This is the black background white text on top thing. */
.album-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background-color: #444444;
    color: white;
    padding: 0 16px;
    text-align: center;
}


/* ------------ NAV BAR -------------*/

.nav {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav-title {
    margin: 0 auto;
    padding: 0 0;
}




.nav-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;
    text-transform: uppercase;
}

.nav-links a {
    font-family: 'Red Hat Mono', monospace;
    font-weight: 400;
    font-size: 1.25rem;
    color: #444444;
    padding: .5rem;
    transition: 0.2s;
}

/* Add an active class to highlight the current page */
.links a.active {
    color: #90A9B7;
}

/* Hide the link that should open and close the topnav on small screens */
.burger-menu {
    display: none;
    color: #444444;
    font-size: 40px;
}


.links a:hover {
    color: #72946e;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    transition: 0.2s ease;
    /* Animation */
}


/* ------------ SLIDESHOW STYLING ------------ */

.video-container {
    display: flex;
    width: 100%;
    margin: auto;
    padding: 30px;
}

.video-item {
    margin: 0 auto;
}

.slide-btn {
    font-size: 4rem;
    margin: 0 6rem;
    color: #4444447e;
}

/* .streaming-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.1rem .5rem 2rem;
    color: #444444;
    height: 64px;
    width: auto;
} */

.streaming-links-mobile {
    display: none;
}

.stream-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 .5rem;
    font-size: 1rem;
    padding: 10px 0;
}

.stream-btn:hover {
    color: #A5C5A1;
}

.stream-link {
    font-family: 'Red Hat Mono', monospace;
    color: #444444;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s
}

.stream-link:hover {
    color: #A5C5A1;
    transition: 0.2s ease-in-out;
}

.fa {
    margin-left: 4px;

}

.vertical-separator {
    height: 16px;
    width: 1px;
    background-color: #444444;
    margin: 0;
}

.slide-dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 .2rem;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

/* ALBUM INFO */

.album-container {
    display: flex;
    flex-direction: row;
}


.album-info {
    display: flex;
    flex-direction: column;
    margin: 5rem 0;
    text-align: center;
}

.album-description {
    font-family: 'roboto', sans-serif;
    margin: 10px;
}

.tracklist {
    display: flex;
    flex-direction: column;
}

.text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #444444;
}

.album-art {
    width: 240px;
    box-shadow: 4px 4px #444444;
    margin: 2rem;
    transition: .2s;
}

.album-art:hover {
    transform: scale(1.05);
    animation-duration: 1s;
    box-shadow: 6px 6px #444444;
    transition: 0.2s;
}

.box {
    padding: 1rem;
}

/* FOOTER */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;

}

.footer-text {
    font-family: 'Red Hat Mono', monospace;
    font-weight: 400;
    font-size: .75rem;
    color: #444444;
    margin: .25rem;
    text-align: center;
    margin: 5px auto;
}

.footer-socials {
    padding: 1em;
    margin: 0 auto;
}

.footer-icon {
    font-size: 1.1rem;
    margin: .25rem;
    color: #444444;
    transition: 0.2s
}

.icon:hover {
    color: #A5C5A1;
    transition: 0.2s;
}


@media only screen and (max-width: 600px) {
    .dot {
        display: none;
    }

    .vertical-separator {
        display: none;
    }

    .title {
        font-size: 32px;
        text-align: left;
    }

    .nav {
        padding: 0;
    }

    .nav-title {
        padding: 10px 40px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .nav-links {
        padding: 1rem 40px;
        margin: 0;
        background-color: #CFEDCB;
        flex-direction: column;
    }

    .nav-link {
        width: 100%;
        display: flex;
        justify-content: end;
    }

    .burger-menu {
        display: flex;
    }

    .video-item {
        margin: 0 auto;
        padding: 0;
        height: 45.05vw;
        width: 80vw;
    }

    .streaming-links-desktop {
        display: none;
    }

    .streaming-links-mobile {
        margin: 0 auto;
        padding: 0 30px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .fa {
        margin: 0 8px;
    }
    
    .album-info {
        margin: 2em auto;
    }

    .cd-container {
        display: flex;
        flex-direction: column-reverse;
        padding: 0 35px;
    }

    .album-art {
        width: 100%;
        margin: 0;
    }

    .album-art:hover {
        transform: none;
    }

    .tracklist {
        padding: 2rem 0 0;
    }

    footer {
        padding: 0 0 2rem;
    }

    .footer-icon {
        padding: 2rem 0;
        font-size: 2rem;
    }
}